<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
        <meta name="google-site-verification" content="k-DK_PtALzwUbhjE2cBEyPGVJ_K99mkS4Vaw1iyMNF4" />
        <meta name="theme-color" content="#5e2c85" />
        <link rel="shortcut icon" href="{{asset('media/common/logo/favicon.ico')}}"/>
        <title>
            {% block title %}
                {{sitename}}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
            <style>
                *{
                    font-family: "Rubik";
                }
                .a-footer{
                    color:white;
                }
                .nav-link:hover{
                    transform: scale(1.07);
                }
                .infoBox{
                    padding:20px;
                    color:whitesmoke;
                    margin-top:25px;
                    border-radius: 25px;
                    background-color: rgba(15, 15, 15, 0.9)
                }

            </style>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {#
            <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color:rgba(15, 15, 15,0.9);color:white;">
                <a class="navbar-brand" href="{{url('homepage')}}" style="display: flex;align-items: center;justify-content: center;">
                    <img src="{{asset('media/common/logo/logo.png')}}" width="30" height="100%" class="d-inline-block align-top" alt="logo"> <span style="margin-left:10px;">{{sitename}}</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="fa fa-phone"></i> *** ** ** **</a>
                        </li>
                    </ul>
                </div>
            </nav>
        #}
        {% block body %}
              
        {% endblock %}
        {#
        <footer class="footer" style="background-color:#0f0f0f; padding-top:25px;">
           
        </footer>
        #}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        {% endblock %}
    </body>
</html>